<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>REGISTRO</h2>
	<form action="">
		
		Usuario: <input type="text" id="usuario" name="usuario" placeholder="Ingrese usuario"> <br>
		Password: <input type="password" id="password" name="password" placeholder="Ingrese contraseña"> <br> 
		E-mail: <input type="email" name="email" > <br>
		Edad: <input type="number" name="edad" min="18" max="99"  > <br>
		Telefono: <input type="tel" name="telefono"> <br>
		Sitio favorito: <input type="url" name="sitio" > <br>
		
		Localidades: <br>
		
		 <input type="checkbox" name="localidad" value="BA" > Buenos Aires  <br>  
		 <input type="checkbox" name="localidad" value="RO" > Rosario  <br>
	 	 <input type="checkbox" name="localidad" value="SM" > San Miguel <br>
	 	 <input type="checkbox" name="localidad" value="PA" > Parana  <br>
		
		 <input type="submit" name="submit" value="Registrarse">
		 <button> Cancelar </button>
	</form>
</body>
</html>